# Name: NMQC

# Nuclear Medicine Quality Control utilities

# Author: Alex Vergara Gil
# Version: 0.1a
# Date: 2016/04/04
# Requires: ImageJA 1.50b

Plugins>NMQC, "Center of Rotation", C_O_R
Plugins>NMQC, "Intrinsic Resolution X", IntResol_Linearity_X
Plugins>NMQC, "Intrinsic Resolution Y", IntResol_Linearity_Y
Plugins>NMQC, "Pixel Size X", Pixel_Size_X
Plugins>NMQC, "Pixel Size Y", Pixel_Size_Y
Plugins>NMQC, "Planar Uniformity", Planar_Uniformity
Plugins>NMQC, "Spatial Resolution X", Spatial_Resol_X
Plugins>NMQC, "Spatial Resolution Y", Spatial_Resol_Y
