<settings>
  <servers>
    <server>
      <id>imagej.releases</id>
      <username>BishopWolf</username>
      <password>${env.MAVEN_PASS}</password>
    </server>
    <server>
      <id>imagej.snapshots</id>
      <username>BishopWolf</username>
      <password>${env.MAVEN_PASS}</password>
    </server>
  </servers>
</settings>