#
# plugins_es.config
#

# Nuclear Medicine Quality Control utilities.
# Copyright (c) 2016, CENTIS.
# All rights reserved.

# THIS SOFTWARE IS PROVIDED BY CENTIS ''AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL CENTIS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
# ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Plugins>NMQC, "Uniformidad Planar", NMQC.Planar_Uniformity
Plugins>NMQC>, "Centro de Rotación - Sine Fit", NMQC.C_O_R("Sine")
Plugins>NMQC>Resolución Intrínseca y Linealidad, "Barras Horizontales", NMQC.IntResol_Linearity("Horizontal include")
Plugins>NMQC>Resolución Intrínseca y Linealidad, "Barras Verticales", NMQC.IntResol_Linearity("Vertical include")
# Plugins>NMQC>Resolución Intrínseca y Linealidad, "Barras Horizontales rectangular", NMQC.IntResol_Linearity("Horizontal exclude")
# Plugins>NMQC>Resolución Intrínseca y Linealidad, "Barras Verticales rectangular", NMQC.IntResol_Linearity("Vertical exclude")
Plugins>NMQC>Resolución Espacial y Tamaño de Pixel, "Dos Barras Verticales", NMQC.SSR_PxSz("Vertical")
Plugins>NMQC>Resolución Espacial y Tamaño de Pixel, "Dos Barras Horizontales", NMQC.SSR_PxSz("Horizontal")
Plugins>NMQC>Resolución Espacial y Tamaño de Pixel, "Cuatro Barras", NMQC.Four_Bar_Phantom
Plugins>NMQC>Resolución Espacial y Tamaño de Pixel, "Cuandrante de Barras", NMQC.Bar_Quadrant
Plugins>NMQC>Contraste Tomográfico, "Automático", NMQC.Tomographic_Contrast("Automatic")
Plugins>NMQC>Contraste Tomográfico, "Manual", NMQC.Tomographic_Contrast("Manual")
Plugins>NMQC, "-"
Plugins>NMQC>Trabajo en curso, "Uniformidad Tomográfica", NMQC.Tomographic_Uniformity
Plugins>NMQC>Trabajo en curso, "COR por Vistas Conjugadas", NMQC.C_O_R("Conjugate")
# Plugins>NMQC>Herramientas, "Media Geométrica", Tools.Geometric_Mean
# Plugins>NMQC>Herramientas, "Cardiac Reslicer", Tools.Cardiac_Reslicer
# Plugins>NMQC>Herramientas, "Seleccionar Objetos", Tools.Select_Object

Help>About_NMQC, "Acerca de C O R", NMQC.C_O_R("about")
Help>About_NMQC, "Acerca de Planar Uniformity", NMQC.Planar_Uniformity("about")
Help>About_NMQC, "Acerca de Tomographic Uniformity", NMQC.Tomographic_Uniformity("about")
Help>About_NMQC, "Acerca de Tomographic Contrast", NMQC.Tomographic_Contrast("about")
Help>About_NMQC, "Acerca de Intrinsic Resolution and Linearity", NMQC.IntResol_Linearity("about")
Help>About_NMQC, "Acerca de Four Bar Phantom", NMQC.Four_Bar_Phantom("about")
Help>About_NMQC, "Acerca de Quadrant Bar Phantom", NMQC.Bar_Quadrant("about")
Help>About_NMQC, "Acerca de Spatial Resolution and Pixel Size", NMQC.SSR_PxSz("about")