#
# plugins.config
#

# Nuclear Medicine Quality Control utilities.
# Copyright (c) 2016, CENTIS.
# All rights reserved.

# THIS SOFTWARE IS PROVIDED BY CENTIS ''AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL CENTIS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
# ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Plugins>NMQC, "Planar Uniformity", NMQC.Planar_Uniformity
Plugins>NMQC, "Tomographic Uniformity", NMQC.Tomographic_Uniformity
Plugins>NMQC, "Four Bar Phantom", NMQC.Four_Bar_Phantom
Plugins>NMQC, "Quadrant Bar Phantom", NMQC.Bar_Quadrant
Plugins>NMQC>Center of Rotation, "Sine Fit", NMQC.C_O_R("Sine")
Plugins>NMQC>Center of Rotation, "Conjugate Views", NMQC.C_O_R("Conjugate")
Plugins>NMQC>Intrinsic Resolution and Linearity, "IRL X", NMQC.IntResol_Linearity_X
Plugins>NMQC>Intrinsic Resolution and Linearity, "IRL Y", NMQC.IntResol_Linearity_Y
Plugins>NMQC>Spatial Resolution and Pixel_Size, "SSR PxSz X", NMQC.SSR_PxSz_X
Plugins>NMQC>Spatial Resolution and Pixel_Size, "SSR PxSz Y", NMQC.SSR_PxSz_Y
Plugins>NMQC>Tools, "Geometric Mean", NMQC.Tools.Geometric_Mean
Plugins>NMQC>Tools, "Cardiac Reslicer", NMQC.Tools.Cardiac_Reslicer

Help>About_NMQC, "About C O R", NMQC.C_O_R("about")
Help>About_NMQC, "About Planar Uniformity", NMQC.Planar_Uniformity("about")
Help>About_NMQC, "About Tomographic Uniformity", NMQC.Tomographic_Uniformity("about")
Help>About_NMQC, "About Intrinsic Resolution and Linearity X", NMQC.IntResol_Linearity_X("about")
Help>About_NMQC, "About Intrinsic Resolution and Linearity Y", NMQC.IntResol_Linearity_Y("about")
Help>About_NMQC, "About Four Bar Phantom", NMQC.Four_Bar_Phantom("about")
Help>About_NMQC, "About Quadrant Bar Phantom", NMQC.Bar_Quadrant("about")
Help>About_NMQC, "About Spatial Resolution and Pixel Size X", NMQC.Spatial_Resol_X("about")
Help>About_NMQC, "About Spatial Resolution and Pixel Size Y", NMQC.Spatial_Resol_Y("about")
Help>About_NMQC, "About Geometric Mean", NMQC.Tools.Geometric_Mean("about")
Help>About_NMQC, "About Cardiac Reslicer", NMQC.Tools.Cardiac_Reslicer("about")