#
# plugins.config
#

# Nuclear Medicine Quality Control utilities.
# Copyright (c) 2016, CENTIS.
# All rights reserved.

# THIS SOFTWARE IS PROVIDED BY CENTIS ''AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL CENTIS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
# ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Plugins>NMQC, "Planar Uniformity", NMQC.Planar_Uniformity
Plugins>NMQC>, "Center of Rotation - Sine Fit", NMQC.C_O_R("Sine")
Plugins>NMQC>Intrinsic Resolution and Linearity, "Horizontal Stripes shaped", NMQC.IntResol_Linearity("Horizontal include")
Plugins>NMQC>Intrinsic Resolution and Linearity, "Vertical Stripes shaped", NMQC.IntResol_Linearity("Vertical include")
Plugins>NMQC>Intrinsic Resolution and Linearity, "Horizontal Stripes rectangular", NMQC.IntResol_Linearity("Horizontal exclude")
Plugins>NMQC>Intrinsic Resolution and Linearity, "Vertical Stripes rectangular", NMQC.IntResol_Linearity("Vertical exclude")
Plugins>NMQC>Spatial Resolution and Pixel Size, "Two Vertical Bars", NMQC.SSR_PxSz("Vertical")
Plugins>NMQC>Spatial Resolution and Pixel Size, "Two Horizontal Bars", NMQC.SSR_PxSz("Horizontal")
Plugins>NMQC>Spatial Resolution and Pixel Size, "Four Bars", NMQC.Four_Bar_Phantom
Plugins>NMQC>Spatial Resolution and Pixel Size, "Quadrant Bar", NMQC.Bar_Quadrant
Plugins>NMQC>Tomographic Contrast, "Automatic", NMQC.Tomographic_Contrast("Automatic")
Plugins>NMQC>Tomographic Contrast, "Manual", NMQC.Tomographic_Contrast("Manual")
Plugins>NMQC, "-"
Plugins>NMQC>Work in Progress, "Tomographic Uniformity", NMQC.Tomographic_Uniformity
Plugins>NMQC>Work in Progress, "COR by Conjugate Views", NMQC.C_O_R("Conjugate")
# Plugins>NMQC>Tools, "Geometric Mean", Tools.Geometric_Mean
# Plugins>NMQC>Tools, "Cardiac Reslicer", Tools.Cardiac_Reslicer
# Plugins>NMQC>Tools, "Select Objects", Tools.Select_Object

Help>About_NMQC, "About C O R", NMQC.C_O_R("about")
Help>About_NMQC, "About Planar Uniformity", NMQC.Planar_Uniformity("about")
Help>About_NMQC, "About Tomographic Uniformity", NMQC.Tomographic_Uniformity("about")
Help>About_NMQC, "About Tomographic Contrast", NMQC.Tomographic_Contrast("about")
Help>About_NMQC, "About Intrinsic Resolution and Linearity", NMQC.IntResol_Linearity("about")
Help>About_NMQC, "About Four Bar Phantom", NMQC.Four_Bar_Phantom("about")
Help>About_NMQC, "About Quadrant Bar Phantom", NMQC.Bar_Quadrant("about")
Help>About_NMQC, "About Spatial Resolution and Pixel Size", NMQC.SSR_PxSz("about")